# ==============================================================================
# C/C++ compiler output
# ==============================================================================
*.o
*.exe
*.out
*.a
*.lib
# ==============================================================================
# Verilator output and simulation files
# ==============================================================================
# Verilator 
obj_dir/

# Waveform files
*.vcd
*.fsdb

# other simulation logs
*.log
verilator.log

# code editor files (VS Code)
.vscode/

# ==============================================================================
# Docker ssh keys and secrets
# ==============================================================================
.docker/
*.key
*.pem
*.pub
private_key/
secret*/
